.text-field{
    -fx-background-color: #282828;
}
.button {
    -fx-background-color: #282828;
    -fx-background-radius: 5em;
}
.button:hover {
    -fx-background-color: #6393E7;
    -fx-background-radius: 5em;
}
.button:pressed {
    -fx-background-color: #165DDB;
    transition: color 9999999s
}

.button:focused {
    -fx-background-color: #165DDB;
    -fx-background-radius: 5em;
}

.combo-box .text {
    -fx-font-size: 14;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box .list-view .list-cell .text {
    -fx-font-size: 14;
}

.combo-box {
    -fx-background-color: #282828;
    -fx-text-alignment: center;
}

.combo-box-popup .list-cell {
    -fx-background-color: #282828;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.combo-box .arrow, .combo-box .arrow-button {
    -fx-background-color: transparent;
}
.text-field{
    -fx-text-fill: WHITE;
    -fx-font-size: 16;
}
